@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Navbar*/
.navs{
    background-image: linear-gradient( to bottom, #775584, #66276A, #442163);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}

.navi{
    background-image: linear-gradient(to right, #775584, #66276A);
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #775584;
    display: flex;
    justify-content: space-between;
    
}

#elementos_nav{
    margin-top: 20px;
    margin-left: 20px;
    
}

#elementos_nav h4{
    margin-bottom: 30px;
}

#sair{
    margin-top: 25px;
    margin-right: 25px;
}


/*Tabela*/
.tabela{
    margin-top: 150px;
    margin-left: 60px;
}

h1{
    color: black;
}

img{
    width: 25px;
    height: 25px;
}

span{
    text-decoration: none;
    color: white;
    font-size: 20px;

}

b{
    margin-top: 10px;
    color: aliceblue;
}



.deletar{
    background-color: rgb(161, 2, 2);
    color: white;
}

.atualizar{
    background-color: rgb(3, 71, 3);
    color: white;
}

.deletar:hover{
    background-color: rgb(117, 2, 2);
    color: white;
}

.atualizar:hover{
    background-color: rgb(1, 46, 1);
    color: white;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.adicionar{
    background-color: #66276A;
    color: white;
    padding: 10px 20px;
}

.adicionar a{
    text-decoration: none;
    color: white;
}

.adicionar:hover{
    background-color: #3c173f;
    color: white;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    
}


/*Form Cadastrar*/
.formulario{
    background-color: rgba(255, 250, 250, 0.836);
    height: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

#botao{
    background-color: #775584; 
    border-radius: 10px; 
    width: 120px; 
    color: white;
    margin-top: 20px;
}

#botao:hover{
    background-color: #66276A;
}

#nome{
    width: 320px;
}

.formulario a{
    color: #66276A;
    font-weight: 500;
}


.titulo_botao{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin-bottom: 40px;
}