@media (max-width: 600px) {
    .main {
      background-color: aqua;
      background-image: none;
    }

    .img{
        background-image: url(../assets/MusicLy.jpg);
        width: 500px;
    }

    .form{
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 800px;
        box-shadow: 5px 5px  rgba(42, 1, 48, 0.582);
    }
  }