@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.navs{
    background-image: linear-gradient( to bottom, #775584, #66276A, #442163);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}

.navi{
    background-image: linear-gradient(to right, #775584, #66276A);
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #775584;
    display: flex;
    justify-content: space-between;
}

.tabela{
    margin-top: 120px;
    margin-left: 100px;
}

h1{
    margin-top: 100px;
    margin-left: 300px;
    color: black;
}

img{
    width: 25px;
    height: 25px;
}

span{
    text-decoration: none;
    color: white;
    font-size: 20px;

}

b{
    margin-top: 10px;
    color: aliceblue;
}

#sair{
    margin-top: 25px;
    margin-right: 25px;
}

.card{
    margin: 0 35px;
    height: 450px;
    width: 300px;
    
}

.card img{
    height: 250px;
}

.cartas{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 280px;
    
}

.botao{
    background-color: #66276A;
    color: aliceblue;
}

.botao:hover{
    background-color: #442163;
    color: white;
}

#elementos_nav{
    margin-top: 20px;
    margin-left: 20px;
    
}

#elementos_nav h4{
    margin-bottom: 30px;
}
